# BUBT links
BASE_URL="https://www.bubt.edu.bd"
NOTICE_URL="https://www.bubt.edu.bd/Home/all_notice"
EVENT_URL="https://www.bubt.edu.bd/Home/all_events"

# Firebase Credentials
TYPE="service_account"
PROJECT_ID=""
PRIVATE_KEY_ID=""
PRIVATE_KEY=""
CLIENT_EMAIL=""
CLIENT_ID=""
AUTH_URI="https://accounts.google.com/o/oauth2/auth"
TOKEN_URI="https://oauth2.googleapis.com/token"
AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
CLIENT_X509_CERT_URL=""

# FCM Config
FCM_TOPIC="/topics/smart_notice"
FCM_SERVER_TOKEN=""
FCM_DEVICE_TOKEN=""
